software/infrastructure/node-red/CameraSliderNode-red.json
[
    {
        "id": "cb2f550bf0e58eb2",
        "type": "tab",
        "label": "CAMERA_SLIDER",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "276b7231f57c9ae9",
        "type": "group",
        "z": "cb2f550bf0e58eb2",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "477cf3a14dde185a",
            "5c4b5e71c8ca9a3d",
            "6e70fa0210ecc8c7",
            "e040ee0a6af1c143",
            "664b73a68ff8ca09",
            "c0b6813706e439ac",
            "d2affba47ec9a29e",
            "da15b58ed983b710",
            "d6b787639a9e1e16",
            "d8b3e5f181eb1300",
            "a9acab8e11efab13",
            "5bdca4c0ce8741a3",
            "f8678862eb33f9d7",
            "c5a6d6b547cefc24",
            "9b09ec3de9561e55",
            "44f2dd8934456823",
            "705a81193bdd869b",
            "9841eaa1fea15395"
        ],
        "x": 694,
        "y": -1,
        "w": 572,
        "h": 642
    },
    {
        "id": "19579a53f0b9834c",
        "type": "group",
        "z": "cb2f550bf0e58eb2",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "53653f2bc0c0b75b",
            "eb283d80e18f8a81",
            "f6f973ef316e5062",
            "cc327d92995304a4"
        ],
        "x": 34,
        "y": 19,
        "w": 512,
        "h": 162
    },
    {
        "id": "5edde7cea5720682",
        "type": "group",
        "z": "cb2f550bf0e58eb2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b69cdda446ec9b33",
            "6efd2c4f5d68c772",
            "1a7656830df9b806",
            "146c6a71d849f5a7",
            "dd8962ac862e9332",
            "0fa46af27e527807",
            "9ad74ee33809a9be",
            "c6083ede1a0bb2d1",
            "72af81f89792cc40",
            "fc7c04e9e0f212c5",
            "f7e81fed287648d7",
            "601b158bbc837629",
            "bbde9bd0dbe90e42"
        ],
        "x": 34,
        "y": 719,
        "w": 1032,
        "h": 462
    },
    {
        "id": "2ac04b1439ec7ff3",
        "type": "group",
        "z": "cb2f550bf0e58eb2",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "74e060cfae9ae40d",
            "9064ef357d385c6d",
            "ba907af89ddf5fde",
            "8666b92cd69b938b",
            "e7f3e5ee21f95226",
            "b26d66e720d8b843",
            "edc1636da6b024b9"
        ],
        "x": 74,
        "y": 299,
        "w": 572,
        "h": 262
    },
    {
        "id": "53653f2bc0c0b75b",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "19579a53f0b9834c",
        "name": "",
        "topic": "Farmlab2/slider/pan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "f6f973ef316e5062",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "19579a53f0b9834c",
        "name": "",
        "topic": "Farmlab2/slider/tilt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "477cf3a14dde185a",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "topic": "Farmlab2/stepper/start",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1110,
        "y": 160,
        "wires": []
    },
    {
        "id": "5c4b5e71c8ca9a3d",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "topic": "Farmlab2/stepper/speed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "e040ee0a6af1c143",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "topic": "Farmlab2/stepper/links",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1110,
        "y": 300,
        "wires": []
    },
    {
        "id": "664b73a68ff8ca09",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "topic": "Farmlab2/stepper/rechts",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1100,
        "y": 360,
        "wires": []
    },
    {
        "id": "b69cdda446ec9b33",
        "type": "mqtt in",
        "z": "cb2f550bf0e58eb2",
        "g": "5edde7cea5720682",
        "name": "",
        "topic": "Farmlab2/slider/KijkFoto",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 920,
        "wires": [
            [
                "dd8962ac862e9332"
            ]
        ]
    },
    {
        "id": "6efd2c4f5d68c772",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "5edde7cea5720682",
        "name": "CameraFoto",
        "topic": "Farmlab2/slider/Foto",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 750,
        "y": 760,
        "wires": []
    },
    {
        "id": "1a7656830df9b806",
        "type": "file",
        "z": "cb2f550bf0e58eb2",
        "g": "5edde7cea5720682",
        "name": "fotowrite",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 540,
        "y": 1100,
        "wires": [
            [
                "bbde9bd0dbe90e42"
            ]
        ]
    },
    {
        "id": "146c6a71d849f5a7",
        "type": "function",
        "z": "cb2f550bf0e58eb2",
        "g": "5edde7cea5720682",
        "name": "Image path",
        "func": "var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n\n\n// file path with / at the end\nvar path = \"C:\\\\Users\\\\Nit\\\\Pictures\\\\espCam\\\\\" +yyyy+\"-\"+mm+\"-\"+dd+\"\\\\\"; \n//var dayPath = path + dd + \"\\\\\";\nvar filename = \"foto_\" + yyyy + \"-\" + mm + \"-\" + dd + \"-\" + hh + mm + ss + \".png\"; // file name\nmsg.filename = path + filename;\nnode.warn(msg.filename);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 960,
        "wires": [
            [
                "1a7656830df9b806"
            ]
        ]
    },
    {
        "id": "c6083ede1a0bb2d1",
        "type": "debug",
        "z": "cb2f550bf0e58eb2",
        "d": true,
        "g": "5edde7cea5720682",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 940,
        "wires": []
    },
    {
        "id": "72af81f89792cc40",
        "type": "template",
        "z": "cb2f550bf0e58eb2",
        "d": true,
        "g": "5edde7cea5720682",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"100%\" height=\"100%\" src=\"{{{payload}}}\">",
        "output": "str",
        "x": 940,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "fc7c04e9e0f212c5",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "5edde7cea5720682",
        "name": "CameraFlash",
        "topic": "Farmlab2/slider/Flash",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 740,
        "y": 820,
        "wires": []
    },
    {
        "id": "da15b58ed983b710",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "sendPosLijst",
        "topic": "Farmlab2/stepper/postPosList",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1170,
        "y": 540,
        "wires": []
    },
    {
        "id": "d6b787639a9e1e16",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "sendPos",
        "topic": "Farmlab2/stepper/postPos",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "c0b6813706e439ac",
        "type": "ui_button",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "group": "1889489575483a1c",
        "order": 7,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Rechts",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 360,
        "wires": [
            [
                "664b73a68ff8ca09"
            ]
        ]
    },
    {
        "id": "d2affba47ec9a29e",
        "type": "ui_button",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "group": "1889489575483a1c",
        "order": 6,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Links",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 300,
        "wires": [
            [
                "e040ee0a6af1c143"
            ]
        ]
    },
    {
        "id": "eb283d80e18f8a81",
        "type": "ui_slider",
        "z": "cb2f550bf0e58eb2",
        "g": "19579a53f0b9834c",
        "name": "",
        "label": "Tilt slider",
        "tooltip": "",
        "group": "a7f49ac8fedc239e",
        "order": 1,
        "width": 10,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": "5",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "f6f973ef316e5062"
            ]
        ]
    },
    {
        "id": "6e70fa0210ecc8c7",
        "type": "ui_slider",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "label": "Motor Snelheid",
        "tooltip": "",
        "group": "1889489575483a1c",
        "order": 2,
        "width": 10,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "1000",
        "step": 1,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "5c4b5e71c8ca9a3d"
            ]
        ]
    },
    {
        "id": "d8b3e5f181eb1300",
        "type": "ui_slider",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "label": "Welke locatie",
        "tooltip": "",
        "group": "1889489575483a1c",
        "order": 9,
        "width": 10,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 820,
        "y": 460,
        "wires": [
            [
                "d6b787639a9e1e16"
            ]
        ]
    },
    {
        "id": "cc327d92995304a4",
        "type": "ui_slider",
        "z": "cb2f550bf0e58eb2",
        "g": "19579a53f0b9834c",
        "name": "",
        "label": "Pan slider",
        "tooltip": "",
        "group": "a7f49ac8fedc239e",
        "order": 2,
        "width": 10,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "180",
        "step": 1,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "53653f2bc0c0b75b"
            ]
        ]
    },
    {
        "id": "0fa46af27e527807",
        "type": "jimp-image",
        "z": "cb2f550bf0e58eb2",
        "d": true,
        "g": "5edde7cea5720682",
        "name": "Foto",
        "data": "filename",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 990,
        "y": 800,
        "wires": [
            [
                "9ad74ee33809a9be",
                "c6083ede1a0bb2d1",
                "72af81f89792cc40"
            ]
        ]
    },
    {
        "id": "9ad74ee33809a9be",
        "type": "image viewer",
        "z": "cb2f550bf0e58eb2",
        "d": true,
        "g": "5edde7cea5720682",
        "name": "",
        "width": "200",
        "data": "payload",
        "dataType": "msg",
        "x": 930,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "dd8962ac862e9332",
        "type": "image",
        "z": "cb2f550bf0e58eb2",
        "g": "5edde7cea5720682",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": true,
        "outputs": 1,
        "x": 380,
        "y": 900,
        "wires": [
            [
                "146c6a71d849f5a7"
            ]
        ]
    },
    {
        "id": "74e060cfae9ae40d",
        "type": "inject",
        "z": "cb2f550bf0e58eb2",
        "g": "2ac04b1439ec7ff3",
        "name": "Om 8uur foto",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "8666b92cd69b938b",
                "9841eaa1fea15395"
            ]
        ]
    },
    {
        "id": "9064ef357d385c6d",
        "type": "inject",
        "z": "cb2f550bf0e58eb2",
        "g": "2ac04b1439ec7ff3",
        "name": "Om 12uur foto",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "e7f3e5ee21f95226",
                "9841eaa1fea15395"
            ]
        ]
    },
    {
        "id": "ba907af89ddf5fde",
        "type": "inject",
        "z": "cb2f550bf0e58eb2",
        "g": "2ac04b1439ec7ff3",
        "name": "Om 18uur foto",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 18 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "b26d66e720d8b843",
                "9841eaa1fea15395"
            ]
        ]
    },
    {
        "id": "8666b92cd69b938b",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "2ac04b1439ec7ff3",
        "name": "fotoOm8uur",
        "topic": "Farmlab2/auto/maakFotoOm8",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "a9acab8e11efab13",
        "type": "ui_switch",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "label": "Start/Stop",
        "tooltip": "",
        "group": "1889489575483a1c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "477cf3a14dde185a"
            ]
        ]
    },
    {
        "id": "f8678862eb33f9d7",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "topic": "Farmlab2/stepper/set0punt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1100,
        "y": 100,
        "wires": []
    },
    {
        "id": "5bdca4c0ce8741a3",
        "type": "ui_button",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "group": "1889489575483a1c",
        "order": 3,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Set 0 Punt",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 100,
        "wires": [
            [
                "f8678862eb33f9d7"
            ]
        ]
    },
    {
        "id": "9b09ec3de9561e55",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "topic": "Farmlab2/stepper/beginPunt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1080,
        "y": 40,
        "wires": []
    },
    {
        "id": "c5a6d6b547cefc24",
        "type": "ui_button",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "group": "1889489575483a1c",
        "order": 4,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Ga naar 0 punt",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 40,
        "wires": [
            [
                "9b09ec3de9561e55"
            ]
        ]
    },
    {
        "id": "e7f3e5ee21f95226",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "2ac04b1439ec7ff3",
        "name": "fotoOm12uur",
        "topic": "Farmlab2/auto/maakFotoOm12",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "b26d66e720d8b843",
        "type": "mqtt out",
        "z": "cb2f550bf0e58eb2",
        "g": "2ac04b1439ec7ff3",
        "name": "fotoOm18uur",
        "topic": "Farmlab2/auto/maakFotoOm18",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "44f2dd8934456823",
        "type": "ui_text_input",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "label": "Geef de locatie hier (15,25,45,...)",
        "tooltip": "",
        "group": "1889489575483a1c",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "text",
        "topicType": "str",
        "x": 860,
        "y": 520,
        "wires": [
            [
                "705a81193bdd869b"
            ]
        ]
    },
    {
        "id": "705a81193bdd869b",
        "type": "function",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "text",
        "func": "var data = context.get(\"data\") || 0;\n\nif (msg.topic === \"text\") {\n    data = msg.payload;\n    context.set(\"data\", data);\n    //if no output is needed while writting, stop the flow right here\n    return\n}\nif (msg.topic === \"save\") {\n    msg.payload = data;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "da15b58ed983b710",
                "790d7163aaecf37e"
            ]
        ]
    },
    {
        "id": "9841eaa1fea15395",
        "type": "ui_button",
        "z": "cb2f550bf0e58eb2",
        "g": "276b7231f57c9ae9",
        "name": "",
        "group": "1889489575483a1c",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stuur de locatie",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "save",
        "topicType": "str",
        "x": 800,
        "y": 600,
        "wires": [
            [
                "705a81193bdd869b"
            ]
        ]
    },
    {
        "id": "601b158bbc837629",
        "type": "ui_button",
        "z": "cb2f550bf0e58eb2",
        "g": "5edde7cea5720682",
        "name": "",
        "group": "eb23a053.4aa63",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Camera Flash Test",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "save",
        "topicType": "str",
        "x": 450,
        "y": 820,
        "wires": [
            [
                "fc7c04e9e0f212c5"
            ]
        ]
    },
    {
        "id": "f7e81fed287648d7",
        "type": "ui_button",
        "z": "cb2f550bf0e58eb2",
        "g": "5edde7cea5720682",
        "name": "",
        "group": "eb23a053.4aa63",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Maak Foto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "save",
        "topicType": "str",
        "x": 430,
        "y": 760,
        "wires": [
            [
                "6efd2c4f5d68c772"
            ]
        ]
    },
    {
        "id": "bbde9bd0dbe90e42",
        "type": "file in",
        "z": "cb2f550bf0e58eb2",
        "g": "5edde7cea5720682",
        "name": "Foto path",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "55a834454ef7031f"
            ]
        ]
    },
    {
        "id": "a9405361ee011a0d",
        "type": "ui_template",
        "z": "cb2f550bf0e58eb2",
        "group": "eb23a053.4aa63",
        "name": "",
        "order": 1,
        "width": 11,
        "height": 11,
        "format": "\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" style=\"transform:rotate(90deg);\" src=\"data:image/png;base64,{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 800,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "55a834454ef7031f",
        "type": "base64",
        "z": "cb2f550bf0e58eb2",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 620,
        "y": 1160,
        "wires": [
            [
                "a9405361ee011a0d"
            ]
        ]
    },
    {
        "id": "790d7163aaecf37e",
        "type": "debug",
        "z": "cb2f550bf0e58eb2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 720,
        "wires": []
    },
    {
        "id": "edc1636da6b024b9",
        "type": "ui_button",
        "z": "cb2f550bf0e58eb2",
        "g": "2ac04b1439ec7ff3",
        "name": "",
        "group": "1889489575483a1c",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test automatische modus",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "8666b92cd69b938b"
            ]
        ]
    },
    {
        "id": "d1040d1d875c9ba9",
        "type": "ui_spacer",
        "z": "cb2f550bf0e58eb2",
        "name": "spacer",
        "group": "576b701331e51c9e",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "b544b1c95af38f8c",
        "type": "ui_spacer",
        "z": "cb2f550bf0e58eb2",
        "name": "spacer",
        "group": "1889489575483a1c",
        "order": 5,
        "width": 10,
        "height": 1
    },
    {
        "id": "3506a63808a0d135",
        "type": "ui_spacer",
        "z": "cb2f550bf0e58eb2",
        "name": "spacer",
        "group": "1889489575483a1c",
        "order": 8,
        "width": 10,
        "height": 1
    },
    {
        "id": "7edbd06049f934cd",
        "type": "ui_spacer",
        "z": "cb2f550bf0e58eb2",
        "name": "spacer",
        "group": "1889489575483a1c",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "f825d14f7369d1a1",
        "type": "ui_spacer",
        "z": "cb2f550bf0e58eb2",
        "name": "spacer",
        "group": "a7f49ac8fedc239e",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "FarmLab2",
        "broker": "172.16.157.225",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1889489575483a1c",
        "type": "ui_group",
        "name": "Stepper Motor Besturen",
        "tab": "28dfd59636dd2eb0",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "a7f49ac8fedc239e",
        "type": "ui_group",
        "name": "Pan & Tilt",
        "tab": "28dfd59636dd2eb0",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "eb23a053.4aa63",
        "type": "ui_group",
        "name": "Foto Maken",
        "tab": "28dfd59636dd2eb0",
        "order": 2,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "28dfd59636dd2eb0",
        "type": "ui_tab",
        "name": "Farmlab 2 Camerslider",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]